/////////
//Reset
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --primary-blue-1: #b8c3c2;

  --primary-yellow-1: #e6dec9;

  --color-grey-dark: #333;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.35);
  --shadow-light: 0 2rem 4rem rgba(0, 0, 0, 0.03);

  --font-body: 'Poppins', sans-serif;
  --font-heading: 'Josefin Sans', sans-serif;
  --font-color: #1a1c1c;

  --background-start-rgb: 184, 195, 194; /* RGB values for #b8c3c2 */
  --background-end-rgb: 216, 223, 222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.heading-tertiary {
  font-size: 1.75rem;
  color: #fff;
}

li {
  font-size: 2.35rem;

  & p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #fff;
  }
}

.li-paragraph {
  list-style: none;
}

.li-paragraph p {
  color: #212529;
  font-size: 1.25rem;
}

.c-link {
  color: #fff;
  font-weight: 500;
}

#html-bar,
#css-bar,
#js-bar,
#node-bar {
  margin: 20px 20px 20px 0;
  width: 400px;
  height: 8px;
  position: relative;
}
