body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hero,
.gallery {
  margin-bottom: 10rem;
}

#html-bar,
#css-bar,
#js-bar,
#node-bar {
  width: 100%;
}

.qualifications {
  background-color: var(--color-grey-dark);
  color: #fff;

  &__date {
    font-size: 1rem;
  }
}

.current-projects {
  height: 100%;
  background-color: var(--color-grey-dark);
  color: #fff;
}

.process {
  border-bottom: 2px solid black;
  padding: 2rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 2.5rem 0;
}
